<section *ngIf="role === 'employee'">
  <p class="text-center text-6xl mt-10">welcome {{ employeeName }}</p>

  <section class="flex justify-center items-center mt-10" (click)="onClick()">
    <button class="btn bg-success text-white">Add Entry</button>
  </section>
</section>

<section *ngIf="role === 'manager'">
  <p class="text-center text-6xl mt-10">welcome {{ employeeName }}</p>

  <h2 class="font-bold text-2xl mt-20">List Of Employees :</h2>

  <div class="overflow-x-auto mt-10">
    <table class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Employee Id</th>
          <th>Name</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover" *ngFor="let item of employeeList; let i = index">
          <th>{{ i + 1 }}</th>
          <td>{{ item.empId }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.role }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
